/*@import url('../../../styles/variables.css');*/
@import url('../../../src/styles/variables.css');

:root {
    --Color-input-02: #bec0c5;
    --Color-input-01: var(--Color-Text-02);

    --Color-bg-buscar-01: #ffffff;
    --Color-bg-buscar-02: #dbdcde;

    --Color-bg-separador-01: #c6c3c9;

    /*BTNS TOP*/
    --Color-btn-texts: #ffffff;
    --Color-btn-01-abrir: #fc7c02;
    --Color-btn-02-abrir: #fc7b0283;
    --Color-btn-02-limpiar: #5cb0ff;
    --Color-btn-03-nuevoT: #b85cff;
    --Color-btn-04-cancela: #ff5c5c;

    /*Factura */
    --Color-factura-text-00: #ffffff;
    --Color-factura-text-01: #bbbcc0;
    --Color-factura-text-02: #9396a4;
    --Color-factura-text-03: #7c7e8d;

    --Color-factura-separador-01: #bbbcc096;

    --Color-factura-bg-01: #f6f6f6;
    --Color-factura-top-01: #e9eaeb;
    --Color-factura-bottom-01: #fc7c02;

}

/* -----------------: TOP STYLES ------------> */
.busqueda__prod {
    padding: 10px;
    background-color: var(--Color-bg-buscar-02);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}
.busqueda__prod-Light{
    padding: 5px;
    background-color: var(--Color-bg-buscar-02);
    border-radius: 15px;
    width: 510px;
}

.buscar_productos {
    display: flex;
    width: 100%;
}

.right__b,
.left__b {
    display: flex;
}

.left__b {
    margin-left: auto;
    /* Empuja los elementos hacia la derecha */
}

/* ---------: Buscar -----> */
.buscar {
    background-color: var(--Color-bg-buscar-01);
    padding: 10px;
    display: flex;
    width: 60%;
    height: 50px;
    border-radius: 15px;
}

.buscar-light {
    background-color: rgb(238, 238, 238);
    padding: 10px;
    display: flex;
    width: 60%;
    height: 50px;
    border-radius: 15px;
    display: flex;
}


.buscar_i {
    height: 25px;
    font-size: 20px;
    color: var(--Color-bg-buscar-02);
    align-self: center;
}


.right__b input {
    color: var(--Color-input-01);
    outline: none;
    padding: 10px;
    width: 100%;
}

.right__b input::placeholder {
    color: var(--Color-input-02);
}


/* Separador */
.sep_vertical_b,
.sep_vertical_b--outS {
    width: 2px;
    height: 20px;
    margin: 0 10px;
    background-color: var(--Color-bg-buscar-02);
    align-self: center;
}

.sep_vertical_b--outS {
    background-color: var(--Color-bg-separador-01);
}

/* ---------: Botones-----> */

/* Boton Buscar */
.btn_buscar {
    height: 100%;
    margin: 0 10px;
    padding: 0 10px;
    border-radius: 10px;
    cursor: pointer;
    color: var(--Color-bg-separador-01);
    background-color: var(--Color-bg-buscar-01);
    border: 1px solid var(--Color-bg-buscar-02);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn_buscar:hover {
    color: var(--Color-bg-buscar-01);
    border: 1px solid var(--Color-bg-buscar-01);
    background-color: var(--Color-bg-separador-01);
}

.btn_buscar:active {
    color: var(--Color-bg-buscar-02);
    border: 1px solid var(--Color-bg-buscar-02);
    background-color: var(--Color-bg-separador-02);

}

.btn_f {
    color: var(--Color-btn-texts);
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 15px;
    margin-right: 10px;
    cursor: pointer;

    transition: all .5s ease;
}

.abrir {
    background-color: var(--Color-btn-01-abrir);
    box-shadow: 0px 0px 18px 0px var(--Color-btn-01-abrir);
}

.abrir:hover {
    box-shadow: 0px 0px 30px 5px var(--Color-btn-01-abrir);
}

.limpiar {
    background-color: var(--Color-btn-02-limpiar);
    box-shadow: 0px 0px 18px 0px var(--Color-btn-02-limpiar);
}

.limpiar:hover {
    box-shadow: 0px 0px 30px 5px var(--Color-btn-02-limpiar);
}

.nuevo {
    background-color: var(--Color-btn-03-nuevoT);
    box-shadow: 0px 0px 18px 0px var(--Color-btn-03-nuevoT);
}

.nuevo:hover {
    box-shadow: 0px 0px 30px 5px var(--Color-btn-03-nuevoT);
}

.cancelar {
    background-color: var(--Color-btn-04-cancela);
    box-shadow: 0px 0px 18px 0px var(--Color-btn-04-cancela);
}

.cancelar:hover {
    box-shadow: 0px 0px 30px 5px var(--Color-btn-04-cancela);
}


/* -----------------: FACTURA STYLES ------------> */
.cointainer__tickets__factura {
    display: flex;
    margin: 20px 0;
    height: 700px;
}

/* TICKETS */
.__tickets {
    width: 70%;
    margin-right: 20px;
}

/* ---------: Factura right -----> */
.__factura {
    width: 30%;
}

.title__f {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Color-factura-top-01);
    border-radius: 15px 15px 0px 0px;
    border-bottom: 3px solid var(--Color-factura-text-00);
}

/* ----- picos de tittle ----*/
/* mi triangulito */
.triangulo-container {
    display: flex;
    margin: 0 10px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.triangulito {
    width: 0;
    height: 0;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid var(--Color-factura-top-01);
}

/*titulo */
.title__f .tittle {
    text-align: center;
    color: var(--Color-factura-text-03);
    font-weight: bold;
    font-size: 18px;
}

/* -----: MIDDEL -----> */
.middle__f {
    height:71%;
    color: var(--Color-factura-text-01);
    background-color: var(--Color-factura-bg-01);
    font-size: 14px;
}

.fila__container_f {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fila__f {
    margin: 10px 0;
}

.fila__numero {
    padding: 5px 12px;
    border: 1px solid var(--Color-factura-text-01);
    border-radius: 5px;
    background-color: var(--Color-factura-text-00);
    margin-right: 10px;
}

/* -----: FOOTER -----> */
.footer__f {
    background-color: var(--Color-factura-bg-01);
}

.sep__factura {
    width: 100%;
    height: 1px;
    margin: 5px 0;
    background-color: var(--Color-factura-separador-01);
}

/* --: Footer Calculos ---> */
.footer__f .footer__calculos {
    height: 70px;
    color: var(--Color-factura-text-02);
    font-size: 14px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

.sep-- {
    display: flex;
    justify-content: space-between;
}

/* --: Footer Total ---> */
.footer__title {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Color-factura-bottom-01);
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 0px 20px 5px var(--Color-btn-02-abrir);
}

.footer__title .__cobrar,
.footer__title .__total_factura {
    text-align: center;
    color: var(--Color-factura-text-00);
    font-weight: 500;
    font-size: 18px;
}

.footer__title .__total_factura {
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}


/* -----------------: RESUMEN BOTTOM ------------> */
.sep__fresumen {
    /* No lo uso aun*/
    width: 100%;
    height: 1px;
    margin: 10px 0;
    background-color: var(--Color-factura-top-01);
}

.resumen--right {
    display: flex;
    width: 30%;
}

.resumen--left {
    width: 70%;
    display: flex;
}

/* Container button */
.container__resumen {
    display: flex;
    padding: 20px 0;
    flex-direction: column;
    align-items: center;
}

.resumen__venta {
    display: flex;
    width: 100%;
}

.title__resumen {
    margin: 40px;
}

.title__resumen .--title {
    color: var(--Color-factura-text-01);
    font-size: 40px;
    text-transform: uppercase;
}

.agregar__deudor,
.datos__venta,
.pagar__factura,
.total__venta {
    box-shadow: 0px 0px 20px 0px rgba(104, 105, 105, 0.521);
    padding: 20px;
    width: 320px;
    background-color: #ffffff;
    border-radius: 15px;
}

/* Venta datos */
.datos__venta {
    width: 30%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.info__venta {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Agregar Deudor */
.agregar__deudor {
    margin-right: 20px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: box-shadow .5s ease;
}

.agregar__deudor:hover{
    box-shadow: 0px 0px 10px -2px var(--Color-btn-01-abrir);
}

.tiitle__a-deudor {
    margin-bottom: 10px;
    align-items: center;
    justify-content: center;
    color: var(--Color-factura-text-02);
}

.info__deudor {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen__container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--Color-bg-buscar-02);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.imagen__container p {
    font-size: 40px;
    color: var(--Color-factura-text-03);
}

.--sep_vertical {
    height: 40px;
    width: 2px;
    background-color: gray;
    margin: 0 15px;
    display: inline-block;
}

.text__container {
    text-align: left;
}

.text__container p {
    font-size: 15px;
    color: gray;
    margin: 5px 0;
}

.pagar__factura {
    margin-right: 20px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: var(--Color-btn-01-abrir);
    cursor: pointer;
    box-shadow: 0px 0px 15px 0px var(--Color-btn-01-abrir);
    transition: box-shadow .5s ease;
}

.pagar__factura:hover {
    box-shadow: 0px 0px 25px 5px var(--Color-btn-01-abrir);
}

.pagar__factura i {
    font-size: 25px;
}

.titulo--pagar {
    font-size: 20px;
    margin-left: 15px;
    font-weight: bold;
}

.total__venta {
    text-align: center;
}


.info__venta {
    display: flex;
    justify-content: space-between;
}

.total__venta {
    width: 100%;
    text-align: center;
    font-weight: bold;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.p-t {
    font-size: 20px;
    margin-bottom: 20px;
}

.p-m {
    font-size: 32px;
}