:root {
    --Color-card-text-00: #ffffff;
    --Color-card-text-01: #bbbcc0;
    --Color-card-text-02: #9396a4;
    --Color-card-text-03: #7c7e8d;
}

.tarjetas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-producto {
    padding: 10px;
    color: var(--Color-card-text-01);
    height: 250px;
    width: 280px;
    display: flex;
    border: 1px solid #ddd;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.imagen-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.imagen-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detalle-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.detalle-info {
    margin-bottom: 10px;
}

.contador-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.contador-container button {
    border-radius: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    box-shadow: 0px 0px 10px 0px #4caf50;
}

.contador-container p {
    margin: 0 15px;
    font-size: 18px;
}

.contador-container button:hover {
    background-color: #45a049;
}

.card-producto {
    display: inline-block;
    margin-right: 10px;
}

.flex-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* --------: SEPARADORES ------>*/
.sep_v_cardbott {
    margin: 3px 0 5px 0;
    width: 100%;
    height: 2px;
    background-color: #bdc0d1;
}

.sep_h_cardbott {
    margin: 0 10px;
    width: 1px;
    height: 20px;
    background-color: #bdc0d1;
}