.table-container {
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 22px 10px rgba(0, 0, 0, 0.1);
}

.option-container {
    padding-bottom: 15px;
    width: 100%;
}

.buscar {
    display: flex;
}

.barra-buscar {
    width: 50%;
    padding: 5px 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.input-form {
    width: 45%;
    padding: 5px 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: .5%;
}

.boton {
    margin-right: 10px;
    border: none;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    color: #000000;
}


.table__body {
    display: block;
}

.tabla {
    width: 100%;
    overflow-y: auto;
}

table thead,
table th {
    color: #7c7879;
    text-align: left;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fcefda;
}


table,
table th,
table td {
    border-collapse: collapse;
    padding: 1rem;
}

table td {
    color: #2e2b2b;
}

.esquinaIz-Top {
    border-radius: 15px 0px 0px 0px;
}

.esquinaDe-Top {
    border-radius: 0px 15px 0px 0px;
}

.esquinaIz-Bootom {
    border-radius: 0px 15px 0px 15px;
}

.esquinaDe-Bootom {
    border-radius: 0px 0px 15px 0px;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
    /* Color de fondo para filas pares */
}

.thAcciones {
    background-color: #ffe5ba;
}

tbody tr:nth-child(odd) .tdAcciones {
    background-color: #f1e9de;
    border-left: 1px solid #ffe5ba;
}

tbody tr:nth-child(even) .tdAcciones {
    background-color: #fff6ee;
    border-left: 1px solid #ffe5ba;
    /* Color de fondo para filas pares */
}


@media (max-width: 1000px) {
    .tabla td:not(:first-of-type) {
        min-width: 6.5rem;
    }
}