/*Variables*/

:root {

    /* Principal */
    --BackgroundColor-Body-01: #dae1e9;
    --boxshadow-01: #25304750;
    --Color-MainContent-01: #ffffff;

    /* Login */
    --Color-Text-01: #daddec;
    --Color-Text-02: #7d7f8c;
    --Color-Text-03: #3a3c48;

    --Color-Text-highlight-01: #fe9a1a;
    --Color-Button-01: #fc7c00;

    --Color-input-bg-01: #151a20;

    /* Menu Navbar*/
    --Color-Navbar-bg-01: #04070e;
    --Color-Navbar-bg-user-01: #0b111f;


    /* Menu Sidebar*/
    --Color-Sidebar-Text-01: #daddec;
    --Color-Sidebar-Text-02: #7d7f8c;
    --Color-Sidebar-Text-03: #3a3c48;

    --Color-Sidebar-bg-01: #04070e;
    --Color-Sidebar-HF: #0b111f;

    --Color-Sidebar-btn-bg-01: #0a121f;
    --Color-Sidebar-btn-bg-02: #040505;
    --Color-Sidebar-btn-hover-01: #02050a;

    --Color-Sidebar-Separator-01: #28344b;
    --Color-Sidebar-Separator-02: #0b1321;

    --Color-Sidebar-nombre-pagina: #0b111f;


    /* --color-scroll */    
    --color-scroll-01: #ffaf46;
    --color-scroll-02: rgba(192, 192, 192, 0.267);
    --color-scroll-03-bg: #04070ed0;
    --color-scroll-hover-01: #fc7c00;
    --color-scroll-hover-02: rgba(241, 241, 241, 0.178);

}