/* Variables */
@import '../../../styles/variables.css';

.navbar-container {
    background-color: var(--Color-Navbar-bg-01);
    height: 85px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.logo {
    width: auto;
    height: 30px;
    margin-left: 270px;
    transition: margin-left 0.5s ease;
}

.barra-lateral.mini-barra-lateral+.navbar-container .logo {
    margin-left: 90px;
}

.user-info {
    display: flex;
    align-items: center;
    user-select: none;
}

.click-arrow {
    color: var(--Color-Sidebar-Text-02);
    width: 30px;
}

.bell-icon i {
    width: 30px;
    color: var(--Color-Sidebar-Text-03);
    font-size: 25px;
    cursor: pointer;
    user-select: none;
}

.separator {
    height: 15px;
    width: 2px;
    background-color: var(--Color-Sidebar-Separator-02);
    margin: 20px;
}

.user-icon {
    border-radius: 50%;
    width: 45px;
    height: auto;
    pointer-events: none;
    /*margin-right: 20px;*/
}

.info-user {
    background-color: var(--Color-Navbar-bg-user-01);
    display: flex;
    width: 85px;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
}

.user-info-text {
    font-size: 10px;
    color: #ffad00;
}

.user-name {
    font-size: 13px;
    color: rgb(231, 231, 231);
}

.click-arrow {
    /*margin: 15px;*/
    margin-right: 5;
    width: 15px;
    transition: all 0.5s ease;
}

.click-arrow .caret-icon-container {
    transform: rotate(0deg);
    transition: transform 0.38s ease;
}


.click-arrow.rotated .caret-icon-container {
    transform: rotate(90deg);
    transition: transform 0.38s ease;
}