:root {
    --Color-bg-buscar-01: #ffffff;
    --Color-bg-buscar-02: #dbdcde;

    --Color-bg-separador-01: #c6c3c9;

    /*BTNS TOP*/
    --Color-btn-texts: #ffffff;
    --Color-btn-01-selected-tab: #ff7c04;
    --Color-btn-01-selected-tab-boxshadow: #ff7d04af;
    --Color-btn-04-cancela: #ff5c5c;

    /* Btn Cambiar nombre */
    --Color-btn-02-cambiar-Nombre: #5cb0ff;
    --Color-btn-02-cambiar-Nombre-boxshadow: #38c7ffdc;

    /* Tittle Tab*/
    --Color-tittle-tab-No-selected-01: #bcbdc2;

    /*Factura */
    --Color-tab-text-00: #ffffff;
    --Color-tab-text-01: #bbbcc0;
    --Color-tab-text-02: #9396a4;
    --Color-tab-text-03: #7c7e8d;

    --Color-factura-separador-01: #bbbcc096;

    --Color-tab-bg-content-01: #f6f6f6;
    --Color-tab-top-01: #e9eaec;
    --Color-tab-bottom-01: #fc7c02;

}


.tabs-container {
    height: 100%;
}

.tabs {
    display: flex;
    background-color: var(--Color-tab-top-01);
    justify-content: space-between;
    border-radius: 15px 15px 0px 0px;
    border-bottom: 4px solid white;
    padding: 10px;
}

.tabs_tittle {
    display: flex;
}

.tab {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
    margin-right: 10px;
    background-color: var(--Color-tittle-tab-No-selected-01);
    color: #ffffff;
}

.tab.active {
    color: #ffffff;
    background-color: var(--Color-btn-01-selected-tab);
    box-shadow: 0px 0px 15px 0px var(--Color-btn-01-selected-tab-boxshadow);
}

/* Boton borrar tab */
.botonBorrarTab {
    display: flex;
    text-align: center;
    justify-content: center;
    color: var(--Color-factura-separador-01);
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    transition: all .5s ease;
    cursor: pointer;
}

.tab .botonBorrarTab:hover {
    color: white;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    background-color: var(--Color-tab-bottom-01);
}


/* ---: BtN Agregar Tab ----*/
.btnTop_agregar_tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    cursor: pointer;
    border-radius: 50px;
    color: #818181;
    font-size: 25px;
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 0px #ffffffbe;
    transition: all .3s ease;
}

.btnTop_agregar_tab:hover {
    background-color: #f1f1f1;
    box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 0.7);
}

/* -----: Contenido del tab :----------> */
.tab-content {
    color: var(--Color-tab-text-02);
    padding: 15px;
    margin-top: -1px;
    background-color: var(--Color-tab-bg-content-01);
    height: 605px;
}

/* info Content */
.tab-info-content {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.infoTopSep {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.resaltarPTab {
    font-weight: 600;
}

.inforRapidaTab {
    display: flex;
    align-items: center;
}



.inforRapidaTab p {
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}

/* Boton cambiar nombre Tab */
.cambiarNombreTab {
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 30px;
    background-color: var(--Color-bg-separador-01);
    color: #ffffff;
    transition: all .5s ease;
}

.cambiarNombreTab:hover {
    background-color: var(--Color-bg-buscar-02);

}

.divisorTab {
    width: 100%;
    height: 2px;
    background-color: var(--Color-bg-buscar-02);
    margin: 15px 0;
}

.subContentGenerator {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    /* Espacio entre las cards */
}

/* ----------- Footer Visual Tab */
.footer__tabV {
    width: 100%;
    height: 30px;
    border-top: 4px solid white;
    background-color: var(--Color-tab-top-01);
    border-radius: 0 0 15px 15px;
}