/* Variables */
@import url('../../styles/variables.css');

:root {
    --color-barra-lateral: var(--Color-Sidebar-bg-01);
    --color-texto: #9a9a9a;
    --color-texto-menu: #636363;
    --color-menu-hover: var(--Color-Sidebar-btn-hover-01);
    --color-menu-hover-texto: rgb(231, 231, 231);
    --color-boton: #010206;
    --color-boton-texto: rgb(255, 255, 255);
    --color-boton-texto-hover: rgb(221, 221, 221);
    --color-linea: #b0b0b021;
    --color-menu-icons: #1f1f21;
    --color-usuario-bg: #1b1b1c;
    --Color-Text-highlight-01: #fe9a1a;
}

/* Contenedor general del menú */
.Contenedor-Menu {
    height: 100vh;
    display: flex;
}

/* Rules */
.rules {
    padding: 20px 15px;
}

/* SideMenu */
.barra-lateral {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 260px;
    height: 100vh;
    overflow: hidden;
    background-color: var(--color-barra-lateral);
    border-radius: 0px 25px 25px 0px;
    transition: width 0.5s ease;
}

.mini-barra-lateral {
    width: 80px;
}

.barra-lateral span {
    width: 150px;
    white-space: nowrap;
    font-size: 15px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease, width 0.5s ease;
}

.barra-lateral span.oculto {
    opacity: 0;
    width: 0;
}

/* Nombre de la Página */
.highlight {
    color: var(--Color-Text-highlight-01);
}

.barra-lateral .nom-pagina {
    width: 100%;
    height: 85px;
    padding: 15px;
    margin-bottom: 20px;
    white-space: nowrap;
    background-color: var(--Color-Sidebar-nombre-pagina);
    border-bottom: 2px solid var(--Color-Sidebar-Separator-01);
}

.barra-lateral .nombre-pagina {
    height: 45px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.barra-lateral .nombre-pagina .Logo-barralateral {
    border-radius: 15px;
    max-width: 50px;
    min-width: 50px;
    height: auto;
    cursor: pointer;
}

.barra-lateral .nombre-pagina .textsTopMenu {
    font-size: 15px;
    font-weight: bold;
    margin-left: 15px;
    white-space: unset;
}

/* Botón nueva venta (botonNuevaVenta) */
.barra-lateral .boton {
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
    cursor: pointer;
}

.barra-lateral .boton .svg {
    width: 50px;
    min-width: 50px;
    font-size: 22px;
}

/* Menu de navegación */
.barra-lateral .navegacion {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Scrollbar */
.barra-lateral .navegacion::-webkit-scrollbar {
    width: 5px;
}

.barra-lateral .navegacion::-webkit-scrollbar-thumb {
    background-color: var(--color-scroll);
}

.barra-lateral .navegacion::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-scroll-hover);
}

.barra-lateral .navegacion li {
    list-style: none;
    margin-bottom: 2px;
}

.barra-lateral .navegacion a {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: var(--color-barra-lateral);
    color: var(--color-texto-menu);
}

.barra-lateral .navegacion a:hover {
    background-color: var(--color-menu-hover);
    color: var(--color-boton-texto-hover);
}

.barra-lateral .navegacion i {
    text-align: center;
    min-width: 50px;
    font-size: 20px;
}

.barra-lateral .navegacion .btnList {
    padding: 8px;
    margin: 8px;
    border-radius: 10px;
    background-color: var(--Color-Sidebar-HF);
}

/* ------------------------: Sub-menu ------------> */
.barra-lateral .sub-menu-options {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.barra-lateral .sub-menu-options.active {
    max-height: 200px;
    overflow: hidden;
    transition: max-height 0.5s ease;
}

.barra-lateral .sub-menu-options li {
    height: 40px;
    display: flex;
    align-items: center;
}

.barra-lateral .sub-menu-options a {
    text-decoration: none;
    color: var(--color-texto-menu);
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.arrow {
    margin-left: auto;
    transition: max-height 0.5s ease;
}

.rotate-icon {
    transform: rotate(90deg);
}

.rotate-icon-active {
    transform: rotate(90deg);
}

/* ---------: SUBMENU Circle ----->*/
.circle__sidemenu {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--Color-Sidebar-HF);
    margin: 10px;
}

.hide{
    display: none;
}
.sub-menu-options:hover li:hover .circle__sidemenu {
    border: 4px solid var(--Color-Sidebar-HF);
    background-color: var(--Color-Sidebar-Separator-01);
}

/*-------------*/
/* Usuario */
.barra-lateral .usuario-fill {
    width: 100%;
    height: 80px;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
    border-top: 2px solid var(--Color-Sidebar-Separator-01);
    background-color: var(--Color-Sidebar-nombre-pagina);
    cursor: pointer;
}

.barra-lateral .usuario {
    width: 100%;
    display: flex;
}

.barra-lateral .usuario img {
    width: 50px;
    min-width: 50px;
    border-radius: 10px;
}

.barra-lateral .usuario .info-usuario {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-texto);
    overflow: hidden;
}

.barra-lateral .usuario .nombre-email {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.barra-lateral .usuario .nombre {
    font-size: 15px;
}

.barra-lateral .usuario .rol {
    font-size: 12px;
    color: var(--Color-Text-highlight-01);
}

.barra-lateral .usuario .svg {
    font-size: 20px;
    transition: transform 0.5s ease;
    color: var(--Color-Sidebar-Separator-01);
    transform: rotate(-180deg);
}


.flechaUser {
    border: 1px solid var(--Color-Sidebar-Separator-01);
    padding: 4px;
    border-radius: 50%;
}



/* Navbar */
.Navbar {
    margin-left: 800px;
}

/* Media queries */
@media (max-height: 660px) {
    .barra-lateral .nombre-pagina {
        margin-bottom: 10px;
    }
}

@media (max-width: 600px) {
    .barra-lateral {
        position: fixed;
        left: -250px;
    }
}